.f-flex-space {
  flex-grow: 1 !important;
  padding: 0;
  margin: 0;
  background: 0 0;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.w25 {
  width: 25%;
}

.f-row {
  margin-top: 8px;
  width: 100%;
  position: relative;
}

.f-row.f-row-flex {
  display: flex;
}

.f-col+.f-col{
  margin-left: 6px;
}

/* loading */
.f-loading {
  z-index: 999;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(14, 4, 4, 0.32);
}

.f-loading .f-loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  height: 32px;
  width: 32px;
  background-image: url('../../content/loading.svg');
  background-position: center;
  background-size: contain;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}