.f-header {
  display: flex;
  height: 48px;
  width: cal(100% - 178px);
  background-color: #fff;
  align-items: center;
}

.f-header .f-icon-burger {
  margin: 0 10px;
  cursor: pointer;
}

.f-header .f-header-branch {
  display: flex;
  align-items: center;
}

.f-header-branch .f-branch-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
  max-width: 450px;
  color: #111;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.f-header-branch .f-icon-chervon-right {
  margin: 0 10px;
  transform: rotate(90deg);
  cursor: pointer;
}

.f-header .f-icon-bell {
  margin: 0 10px;
  cursor: pointer;
}

.f-header .f-header-user {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 36px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.f-header .f-icon-avatar {
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}

.f-header-user .f-user-fullname {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  max-width: 200px;
  overflow: hidden;
  font-weight: 600;
  padding-right: 8px;
  cursor: pointer;
}

.f-header-user .f-icon-chervon-down {
  cursor: pointer;
}