
/* BUTTON CHÍNH */
.f-btn {
  height: 34px;
  padding: 6px 16px;
  background-color: #2ca01c;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  outline: none
}

.f-btn:hover {
  background-color: #35bf22;
}

.f-btn:active {
  background-color: #248b15;
}

/* BUTTON PHỤ */
.f-second-btn {
  height: 34px;
  padding: 6px 16px;
  border: 1px solid #8d9096;
  background-color: transparent;
  border-radius: 3px;
  color: #111;
  cursor: pointer;
  outline: none;
}

.f-second-btn:hover {
  background-color: #d2d3d6;
}

.f-second-btn:active {
  background-color: #bbbcbc;
}